*{
	margin: 0;
	padding: 0;
	font-family: arial;
	/*font-size: 14px;*/
}
ul,li{
	list-style-type: none;
}
a{
	color: #666;
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.fade{
	opacity: 0;
}
.show{
	opacity: 1;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/*#header{
	float:right;
	width:728px;
	height:90px;
	background-color: transparent;
	margin-top:5px;
    border: 1px solid #eeeeee;
}*/

.btn:focus{ outline: none; }

