*{
	margin: 0;
	padding: 0;
}
.myContainer{
	width: 95%;
	height: 800px;
	margin-top: 20px;
	margin-left: 70px;
}
.content{
	width: 90%;
	height: 800px;
	margin-left: 40px;
	margin-top: 80px;
	border: 2px solid #E6E6E6;
	/* background-color: red; */
}
