/* .noneDisplay{
	display: none;
}
.showDisplay{
	display: inline-block;
} */

*{
	/*border: 1px solid #eeeeee;*/
}
*{
	font-family: arial;
}

#inBtnName{
	float: right;
}
div#codeFrame{
	margin: 0 0 0 12px;
	padding: 0;
	width: 1210px;
	border: 0;
	/* border-bottom: 1px solid #aaa; */
	/* float: right; */
}

#code{
	display: none;
}
.codeText{
	float: left;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 1px solid #eeeeee;
	/*vertical-align: middle;*/
	/*position: absolute;*/
	/*top: 0;*/
	/* font-size: 12px; */
}

.codeLine{
	cursor: text;
	width: auto;
	/* height: 20px; */
	margin: 0;
	padding: 0;
	/*position: relative;*/
	border: 1px solid #eeeeee;
	/*height: 20px;*/
}

#inputFrame{
	width: 850px;
	margin-left: 150px;
}

#firstInputGroup{
	position: relative;
	height: 210px;
}

#firstInputGroup_1{
	position: absolute;
	left: 35px;
	top: 0px;
}

#firstInputGroup_2{
	position: absolute;
	left: 600px;
	top: 40px;
}

#inputSubmit1{
	text-align: center;
}

#secondInputGroup{
	position: relative;
	height: 180px;
	display: none;
	vertical-align: middle;
}

#secondInputGroup_1{
	position: absolute;
	left: 35px;
	/* top: 40px; */
}

#secondInputGroup_2{
	position: absolute;
	left: 600px;
}

#inputSubmit2{
	text-align: center;
	display: none;
}

.StateNumber{
	margin-top: 10px;
}


#thirdInputGroup{
	/* display: none; */
	position: relative;
	left: 350px;
}

#inputSubmit3{
	text-align: center;
	display: none;
}

#inputRange, #outputRange{
	display: none;
}

.ptext{
	font-size: 20px;
}


