# ignore the instructionMD.html file at the current dir
static/

# ignore all the files at node_modules
node_modules/

#ignore the packages description files
# /package-lock.json
# /package.json

# ignore the server
# /server.js

# ignore the bundled files
build/

dir.txt
