<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>simulator</title>
</head>

<body>
	<div id="title" style="font-size: 40px; width: 1800px; height: 60px; text-align: center"></div>
	<div style="width: 1800px; height: 40px; text-align: center">
		<button id="switch" style="font-size: 20px">
			switch changing mode
		</button>
	</div>
	<div id="button1" style="font-size: 20px; width: 1800px; height: 40px; text-align: center">
		change one period
	</div>
	<canvas id="canvasTime" width="1800" height="120"></canvas>
	<canvas id="canvasCLK" width="1800" height="120"></canvas>
	<div id="input"></div>
	<canvas id="canvasState" width="1800" height="120"></canvas>
	<div id="output"></div>
	
	<script src="../public/js/simulator/index.js"></script>
</body>

</html>