.codeContainer {
  width: 1200px;
  height: 800px;
  background-color: white;
  /* margin-left: 10px; */
  margin: 0 auto;
  background-color: #e6e6e6;
}
.codeHeader {
  margin: 10px;
  margin-left: 70px;
}
.type {
  width: 100%;
  height: 20px;
}
.type h3 {
  width: 50%;
  height: 20px;
  float: left;
}
.codeArea {
  width: 90%;
  height: 500px;
  background-color: #e6e6e6;
  margin: 0 auto;
  /* border: 1px solid black;
	border-radius: 15px; */
}
.codeArea .VHDL {
  width: 50%;
  height: 500px;
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  float: left;
  position: relative;
  overflow: auto;
  background-color: #e6e6e6;
  z-index: 0;
}

.codeArea .VHDLTestBench {
  width: 50%;
  height: 500px;
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  float: left;
  position: relative;
  overflow: auto;
  background-color: #e6e6e6;
  z-index: 0;
  display: none;
}

.codeArea .content {
  position: absolute;
  /* width: 500px; */
  left: 55px;
  top: 8px;
  background-color: #e6e6e6;
  white-space: nowrap;
  /* background-color: #B2DBA1; */
}
.codeArea ul {
  display: none;
}
.codeArea li {
  color: rgb(138, 136, 136);
  padding: 0 8px;
  list-style: none;
  margin: 0;
  font-size: 18px;
  border-right: 1px solid #b6b8b8;
}
.VHDL p {
  color: #b6b8b8;
  font-weight: bold;
  margin-left: 50px;
}
.VHDL span {
  color: black;
  font-size: 18px;
}
.VHDLTestBench span {
  color: black;
  font-size: 18px;
}

.codeArea .Verilog {
  width: 50%;
  height: 500px;
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  float: right;
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #e6e6e6;
  z-index: 0;
}
.codeArea .VerilogTestBench {
  width: 50%;
  height: 500px;
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  float: left;
  position: relative;
  overflow: auto;
  background-color: #e6e6e6;
  z-index: 0;
  display: none;
}

.Verilog p {
  color: #b6b8b8;
  font-weight: bold;
  margin-left: 50px;
}
.Verilog span {
  font-size: 18px;
  color: black;
}
.VerilogTestBench span {
  font-size: 18px;
  color: black;
}

.pre-numbering {
  position: absolute;
  width: 48px;
  background-color: #eef0f4;
  top: 0;
  left: 0;
  margin: 0;
  margin-top: 3px;
  padding: 8px 0;
  list-style: none;
  text-align: right;
}
.prettyprint {
  border-bottom: 1px solid #f5f6f7;
  padding-top: 8px;
  z-index: 9;
  background-color: #fff;
}
.tab {
  margin-left: 25px;
}
.fiveTab {
  margin-left: 65px;
}
.lineBlock {
  display: block;
  height: 25px;
}
.keyWord {
  color: blueviolet !important;
}
.entityName {
  color: rgb(243, 58, 44) !important;
}
.Type {
  color: #337ab7 !important;
}
.in {
  color: #c0a16b !important;
}
.value {
  color: #337ab7 !important;
}
.comment {
  color: #4cae4c !important;
}
.moveSpace {
  margin-left: -9px;
}

/* #copy{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}
#copy i{
	display: inline-block;
	width: 50px;
	height: 50px;
} */
