* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e6e6e6;
}
.myContainer {
  width: 95%;
  height: 800px;
  margin-top: 20px;
  margin-left: 70px;
  background-color: #e6e6e6;
}

.account-menu {
  margin: 0 0 0 580px;
}

.user-info {
  width: auto;
  height: 25px;
  color: #e6e6e6;
  user-select: none;
  cursor: pointer;
  display: none;
}
.caret {
  color: #e6e6e6;
}
.user-info-menu {
  width: 70px;
  height: 50px;
  background-color: red;
  display: none;
}
.without-login {
  width: auto;
  height: 25px;
  color: #e6e6e6;
  user-select: none;
  cursor: pointer;
  /* display: none; */
}
.sign-in {
  margin: 0 15px 0 0;
  color: #e6e6e6;
  user-select: none;
  cursor: pointer;
}
.sign-up {
  color: #e6e6e6;
  user-select: none;
  cursor: pointer;
}

#editor {
  width: 1300px;
  height: 850px;
  position: relative;
  margin: 0 auto;
}
#table {
  margin: 5px;
  width: 250px;
  position: absolute;
  left: 10px;
  top: -5px;
}

#toolBar {
  margin: 5px;
  width: 950px;
  position: absolute;
  left: 270px;
  top: -10px;
}

#group1,
#group2,
#group3 {
  margin-left: 5px;
  margin-right: 5px;
}
.lineTble {
  margin-left: 5px;
}
#dataTableContainer {
  width: 220px;
  height: 800px;
  border: 2px solid #e6e6e6;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 15px;
  position: relative;
  left: 985px;
  top: 35px;
  background-color: #e6e6e6;
}
#dataTable {
  background-color: #e6e6e6;
  margin: 10px;
  /* background-color: #B2DBA1; */
}

#svgContainer {
  width: 720px;
  height: 800px;
  margin: 5px;
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  position: absolute;
  left: 260px;
  top: 30px;
  /* background-color: #B2DBA1; */
}

#paraSetting {
  width: 250px;
  height: 800px;
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  margin: 5px;
  border-radius: 15px;
  position: absolute;
  left: 5px;
  top: 30px;
  /* background-color: #B2DBA1; */
}

#paraSetting h3 {
  margin-left: 10px;
}
#inputFrom,
#outputFrom,
#inputTo,
#outputTo {
  width: 40px;
}
#inputRange,
#outputRange {
  margin-top: 30px;
  display: none;
}
#group2 input {
  width: 150px;
}

/*button*/
#stepOne {
  margin-left: 83px;
  border-radius: 10px;
}
#stepTwoLast {
  margin-left: 40px;
  border-radius: 10px;
}
#finish {
  margin-left: 40px;
  border-radius: 10px;
}
#finishLast {
  margin-left: 83px;
  border-radius: 10px;
}
.circle {
  cursor: pointer;
}
.text {
  -moz-user-select: none; /*fireFox*/
  -webkit-user-select: none; /*webkit*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*early browsers*/
  user-select: none;
  cursor: pointer;
}
.line {
  cursor: pointer;
}
svg input {
  width: 100px;
  height: 25px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: white;
  outline: none;
}
#quickAccess {
  width: 50px;
  height: 210px;
  position: fixed;
  right: 10px;
  bottom: 150px;
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  cursor: pointer;
}
.designPart {
  width: 48px;
  height: 50px;
  /* border-bottom: 1px solid black; */
}
.Theme {
  width: 48px;
  height: 50px;
  /* border-bottom: 1px solid black; */
}

#quickAccess p {
  line-height: 50px;
  background-color: #e6e6e6;
}
.codePart {
  width: 48px;
  height: 50px;
  /* border-bottom: 1px solid black; */
  background-color: #e6e6e6;
}
.codePart p {
  margin-left: 5px;
}
.simulPart {
  width: 48px;
  height: 50px;
  background-color: #e6e6e6;
}
.simulPart p {
  margin-left: 5px;
}

#VHDLCopy {
  position: absolute;
  left: 460px;
  top: 10px;
  width: 50px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  display: none;
}

#VHDLToTestBench {
  position: absolute;
  left: 460px;
  top: 450px;
  width: 50px;
  height: 25px;
  /* border: 1px solid black; */
  text-align: center;
  /* cursor: pointer; */
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: none;
}

#VerilogToTestBench {
  position: absolute;
  left: 460px;
  top: 450px;
  width: 50px;
  height: 25px;
  /* border: 1px solid black; */
  text-align: center;
  /* cursor: pointer; */
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: none;
}

#TestBenchToVHDL {
  position: absolute;
  left: 460px;
  top: 450px;
  width: 50px;
  height: 25px;
  /* border: 1px solid black; */
  text-align: center;
  /* cursor: pointer; */
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: none;
}

#TestBenchToVerilog {
  position: absolute;
  left: 460px;
  top: 450px;
  width: 50px;
  height: 25px;
  /* border: 1px solid black; */
  text-align: center;
  /* cursor: pointer; */
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: none;
}

#VHDLTestBenchCopy {
  position: absolute;
  left: 460px;
  top: 10px;
  width: 50px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  display: none;
}

#VerilogCopy {
  position: absolute;
  left: 460px;
  top: 10px;
  width: 50px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  display: none;
}
#VerilogTestBenchCopy {
  position: absolute;
  left: 460px;
  top: 10px;
  width: 50px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  display: none;
}

#copyReminder {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
  border-radius: 10px;
  display: none;
}
#copyReminder p {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.5);
}
